<html>
  <head>
    <meta charset='utf-8' />
    <title>{{data.title}}</title>
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body>
    <h1>Hello World!</h1>
    {{data.copyright}}

    <script src='js/scripts.js'></script>
  </body>
</html>